.graph {
	margin: 50px;
	display: flex;
	height: 100%;
	min-height: 500px;
}

line {
	shape-rendering: crispEdges;
}

#y-axis-svg {
	overflow: visible;
	vertical-align: top;
}

#content-svg {
	// overflow: visible;
	vertical-align: top;
	width: 100%;
	// border: 1px solid red;
}


/* Style the lines by removing the fill and applying a stroke */
.dot-line {
	fill: none;
	stroke: #ffab00;
	stroke: lighten(black, 87%);
	stroke-width: 1;
}

.overlay {
	fill: none;
	pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
	// fill: #ffab00;
	stroke: #fff;
	stroke-width: 3;
}

.focus circle {
	fill: none;
	stroke: steelblue;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fade-rect {
	fill: transparent;
	// animation: 1.5s ease fadeIn;
	// fill: linear-gradient(to right, red, yellow);
}

// svg {
// 	overflow: hidden;
// }

// .main {}


.vertical-season-line {
	stroke: #efefef;
	stroke-width: 1;
}

.x-axis {
	stroke-width: 1;
	stroke: black;
}

.x-axis-text {
	text-anchor: middle;
}


.y-tick, .y-tick-em {
	stroke: rgba(black, 0.4);
	stroke-dasharray: 3 5;
	opacity: 0.25;
	// shape-rendering: crispEdges;
}

.y-tick-em {
	stroke: rgba(black, 0.7);
	stroke-dasharray: 0;
}

#y-axis-svg {
	// text { }
}

#tooltip-rect {
	fill: transparent;
}



// testing
.tooltip-wrapper {
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tooltip {
	margin: 0 2em;
	display: inline-block;
	border: 1px solid #ddd;
	width: 300px;
}
